# =============== #
# Unity generated #
# =============== #
My,Robot/[Tt]emp/*
My,Robot/[Oo]bj/*
My,Robot/[Bb]uild/*
My,Robot/[Ll]ibrary/*
My,Robot/sysinfo.txt
My,Robot\Assets\Art\chrome\*.meta
My,Robot\Assets\Art\doodads\*.meta
My,Robot\Assets\Art\sprites\*.meta
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
*.meta
*.csproj
*.suo
*.sln
