# =============== #
# Unity generated #
# =============== #
My,Robot/[Tt]emp/*
My,Robot/[Oo]bj/*
My,Robot/[Bb]uild/*
My,Robot/[Ll]ibrary/*
My,Robot/sysinfo.txt
*.stackdump
 
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
My,Robot/[Ee]xported[Oo]bj/
My,Robot/.vs/
My,Robot/*.userprefs
My,Robot/*.csproj
My,Robot/*.pidb
My,Robot/*.suo
My,Robot/*.sln*
My,Robot/*.user
My,Robot/*.unityproj
My,Robot/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
*.meta
